@import "../../variables.scss";

.header {
  background: $black-olive;
  font-size: calc(10px + 2vmin);
  height: 4em;
  display: flex;
  align-items: center;
  padding: 0 20px;
  .name {
    margin: 0;
    padding: 0;
    color: $white;
  }
}